/* Background */
body {
  background-color: #ddd7d0; 
}


header, footer {
    background-color: #FFD700; /* Amarillo dorado */
    color: #000; /* Texto oscuro para contraste */
}

a {
    color: #FF0000; /* Rojo del escudo */
    text-decoration: none;
}

a:hover {
    color: #FFD700; /* Cambia a amarillo al pasar el cursor */
}

.nav-link.active {
    text-decoration: underline;
    font-weight: bold;
}

.zoom-on-hover {
    transition: transform 0.3s ease;
}
.zoom-on-hover:hover {
    transform: scale(1.05);
}

.circular-button {
    background: linear-gradient(to right, #000000, #ffffff);
    color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: transform 0.3s ease;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

/* Cards */ 
.card {
  width: 300px;
  padding: 20px;
  background: #fff;
  border: 6px solid #000;
  box-shadow: 12px 12px 0 #000;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
  transform: translate(-5px, -5px);
  box-shadow: 17px 17px 0 #000;
}
.card__title {
  font-size: 32px;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: block;
  position: relative;
  overflow: hidden;
}
.card__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 3px;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.3s;
}
.card:hover .card__title::after {
  transform: translateX(0);
}
.card__content {
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  margin-bottom: 20px;
}
.card__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card__form input {
  padding: 10px;
  border: 3px solid #000;
  font-size: 16px;
  font-family: inherit;
  transition: transform 0.3s;
  width: calc(100% - 26px);
}
.card__form input:focus {
  outline: none;
  transform: scale(1.05);
  background-color: #000;
  color: #ffffff;
}
.card__button {
  border: 3px solid #000;
  background: #000;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  left: 20%;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
  width: 50%;
  height: 100%;
}
.card__button::before {
  content: "Sure?";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  background-color: #5ad641;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.3s;
}
.card__button:hover::before {
  transform: translateY(0);
}
.card__button:active {
  transform: scale(0.95);
}
@keyframes glitch {
  0% {
    transform: translate(2px, 2px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(-2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(2px, 2px);
  }
}
.glitch {
  animation: glitch 0.3s infinite;
}

/* Buttons */
.comic-button-delete {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #EA5629;
  border: 2px solid #000;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}
.comic-button-edit {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #4777DA;
  border: 2px solid #000;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}
.comic-button-create {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #118E6C;
  border: 2px solid #000;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}
.comic-button-cancel {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #474C50;
  border: 2px solid #000;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button-delete:hover {
  background-color: #fff;
  color: #EA5629;
  border: 2px solid #EA5629;
  box-shadow: 5px 5px 0px #EA5629;
}
.comic-button-edit:hover {
  background-color: #fff;
  color: #4777DA;
  border: 2px solid #4777DA;
  box-shadow: 5px 5px 0px #4777DA;
}
.comic-button-create:hover {
  background-color: #fff;
  color: #118E6C;
  border: 2px solid #118E6C;
  box-shadow: 5px 5px 0px #118E6C;
}
.comic-button-cancel:hover {
  background-color: #fff;
  color: #474C50;
  border: 2px solid #474C50;
  box-shadow: 5px 5px 0px #474C50;
}
.comic-button:active {
  background-color: #0000;
  box-shadow: none;
  transform: translateY(4px);
}

/* Navbar */
.button-container {
    display: flex;
    background-color: #118E6C;
    width: 250px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.5s;
    position: relative;
}
.button-container:hover {
    width: 300px;
    transition: all 0.5s;
}
.button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
.button:hover {
    transform: translateY(-3px);
}
.icon {
    font-size: 20px;
}
.button-label {
    display: none;
    position: absolute;
    bottom: -50px;
    background-color: #118E6C;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
}
.button:hover .button-label {
    display: block;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif, bold;
}
.subtitle {
    font-family: 'Roboto', sans-serif, bold;
}
body, p, a, span, div {
    font-family: 'Montserrat', sans-serif;
}


/* ERROR */
.error {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #EF665B;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}
.error__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}
.error__icon path {
  fill: #fff;
}
.error__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}
.error__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.error__close path {
  fill: #fff;
}
  